.text-center{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mx-auto{
  margin: auto;
}
.flex{
 display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
}